*.js
!create-config-files.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
.DS_Store
*.pem
cdk.context.json

# The settings file includes sensible information, see bin/example-config.json
# for example settings and README.md for documentation of these settings
bin/config.json

# do not sync experimentation files
temp
logs/*
server-config/online-mixer-jamulus-config/jamulus/inis
server-config/online-mixer-jamulus-config/jamulus/channels.json
server-config/online-mixer-jamulus-config/jamulus/example-jamulus-startup.sh
server-config/online-mixer-jamulus-config/jamulus/jamulus-startup.sh
