*.js
!fetch-command.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
.DS_Store
*.pem
cdk.context.json

# The settings file includes sensible information, see bin/example-config.json
# for example settings and README.md for documentation of these settings
bin/config.json

# do not sync experimentation files
temp
logs/*
server-config/ardour/mosaik-live.ardour.bak

# ignore the bucket deployment preparation folder
build-bucket-deployment
