[Desktop Entry]
Name=Audio Workstation
Comment=Start QJackCtl, Jamulus, and Ardour and connect all cables.
Exec=/home/ubuntu/Documents/jamulus-startup.sh
Icon=/usr/share/icons/jamulus-startup.png
Terminal=true
Type=Application